@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --deafult-color_2:#ff9900;
    --default-color:#e4811c;
    --bg-color:#f5f5f5;
}

body {
    background-color: var(--bg-color);
}

.top-nav {
    width: 100%;
    text-align: center;
    background-color: var(--deafult-color_2);
    color: #fff;
    font-size: 16px;
    padding: 20px 20px 15px;
    letter-spacing: .2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-nav img {
    width: 2rem;
    height: 2rem;
    margin-bottom: -7px;
    padding: 3px;
}

/* NAVBAR  */
.navBar {
    padding: 20px 120px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.login-cred  {
    display:inline-flex;
}

.logo img {
    width: 12rem;
    height: auto;
    cursor: pointer;
}
.help-btn {
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 15px;
    margin-top: 10px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-log_sig {
    cursor: pointer;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--deafult-color_2);
}


/* BANNER  */
.banner-wrap {
    width: 100%;
    content: "";
    padding: 120px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./images/bg.jpeg);
}

.main-content {
    display: flex;
    background-color: #fff;
    align-items: center;
    text-align: center;
    width: 60%;
    margin-left: 100px;
    margin-top: 10px;
}
.item-one {
    margin-bottom:10px;
    border-bottom: 1px solid #eee;
    border-width: thin;
}
.nav-item {
    display: flex;
    flex-direction: row;
    /* box-shadow: 0 4px 4px -4px rgb(0 0 0 / 12%); */
}

.nav-item-list {
    display: inline-flex;
    padding: 10px;
}

.nav-item-list  li {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    font-family: monospace;
    cursor: pointer;
    font-size: 1rem;
}

.active {
    color: var(--deafult-color_2);
}

.nav-item-list  li:hover {
    color: var(--deafult-color_2);
}

.more {
    display: flex;
    margin-left: 150px;
}
.more img {
    width: 2rem;
    height: .95rem;
    cursor: pointer;
    margin-top: 16px;
}

.more p {
    padding: 10px 5px;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: .2rem;
    font-weight: 400;
    cursor: pointer;
    margin-top: 5px;
    font-size: 1rem;
}

/* VENDOR-MENU  */
.vendor-menu {
    background-color: #fff;
}

.vendor-menu-head {
    color: black;
    float: left;
    font-size: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 20px 0 20px 20px;
}
/* VENDOR MENU  */
.vendor-menu-1 {
    width: 100%;
    padding: 20px;
    display: flex;
    clear: both;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    /* border-width: 50%; */
}

.img-descr  {
    margin-left: -350px;
    display: block;
    font-size: 1rem;
}

.img-descr-2 {
    font-size: .85rem;
    margin-left: 18px;
    font-weight: lighter;
}

.img-tag img {
    width: 7rem;
}

.img-price {
    display: inline-block;
    margin-top: 45px;
}

.amnt {
    padding: 10px;
    margin-left: -30px;
    cursor: pointer;
}
.img-price img{
    cursor: pointer;
    display:flex;
    width: 2rem;
    height: auto;
    padding: 5px;
    margin-top: -35px;
    margin-left: 100px;
} 

#sandWitch {
    height: 4.5rem;
}